<div class="reset-password-container">
  <form [formGroup]="resetPasswordForm" fxLayout="column" fxLayoutAlign="center center">
    <div class="m-b-20 reset-password-logo">

    </div>
    <mat-form-field class="full-width m-b-10" color="accent">
      <input matInput type="text" placeholder="Enter the Code from the mail" formControlName="code">
      <mat-icon matPrefix fontSet="fa" fontIcon="fa-code"></mat-icon>
      <mat-error *ngIf="code.hasError('required')">
        {{ errorMessages.code.required }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width m-b-10" color="accent">
      <input matInput [type]="viewPassword ? 'text' : 'password'" placeholder="Choose a new Password" formControlName="password">
      <mat-icon matPrefix fontSet="fas" fontIcon="fa-lock"></mat-icon>
      <mat-icon class="view-password" matSuffix fontSet="fas" [fontIcon]="viewPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="viewPassword = !viewPassword"></mat-icon>
      <mat-error *ngIf="password.hasError('required')">
        {{ errorMessages.password.required }}
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        {{ errorMessages.password.minLength }}
      </mat-error>
    </mat-form-field>
    <div class="full-width m-b-20">
      <button mat-raised-button fxLayout="row" fxLayoutAlign="center center" color="accent" class="full-width h-48" [disabled]="!resetPasswordForm.valid"
        (click)="resetPassword()">
        <mat-spinner *ngIf="apiProgress" [diameter]="30"></mat-spinner>
        <span *ngIf="!apiProgress">RESET</span>
      </button>
    </div>
    <div class="mat-caption full-width" fxLayout="row" fxLayoutAlign="space-between">
      <a routerLink="/account/login">Login</a>
      <a routerLink="/account/forgot-password">Forgot Password</a>
    </div>
  </form>
</div>
