<div class="add-funds-container">
  <div class="breadcrumbs mat-caption m-b-20">
    <a routerLink="/user">Home</a> &nbsp; > &nbsp;
    <a routerLink="/user/add-funds">Add Funds</a>
  </div>
  <div class="mat-elevation-z2">
    <mat-tab-group>
      <mat-tab label="Paytm">
        <lw-paytm></lw-paytm>
      </mat-tab>
      <mat-tab label="Tez">
        <lw-tez></lw-tez>
      </mat-tab>
      <mat-tab label="Bank">
        <lw-bank></lw-bank>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
