.forgot-password-container {
  background-color: #FAFAFA;
  padding: 20px;
  border-radius: 5px;
}

.forgot-password-logo {
  width: 100px;
  height: 100px;
  background-image: url('/assets/account/profile.png');
  background-size: cover;
}
