<div class="app-container">
  <mat-toolbar class="header-container fixed top">
    <mat-toolbar-row>
      <div class="toolbar-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-icon-button class="menu-trigger" (click)="sidenav.toggle()">
            <mat-icon aria-label="Menu trigger" fontSet="fas" fontIcon="fa-bars"></mat-icon>
          </button>
          <span>Likes World</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-chip-list class="amount-info" *ngIf="!isMobile">
            <mat-chip>Rs 500.00</mat-chip>
          </mat-chip-list>
          <button mat-icon-button class="notifcations-trigger">
            <mat-icon aria-label="Notifications trigger" fontSet="far" fontIcon="fa-bell"></mat-icon>
          </button>
          <button mat-icon-button class="email-trigger" fxHide.xs>
            <mat-icon aria-label="Email trigger" fontSet="far" fontIcon="fa-envelope"></mat-icon>
          </button>
          <button mat-button color="primary" [matMenuTriggerFor]="profileMenu">
            {{ userModel.name }}
            <i class="fas fa-chevron-down"></i>
          </button>
          <mat-menu #profileMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>
              <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
              <span>Account Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon fontSet="fa" fontIcon="fa-hand-holding-usd"></mat-icon>
              <span>Add Money</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon fontSet="fa" fontIcon="fa-sign-out-alt"></mat-icon>
              <span>Signout</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="main-container">
    <mat-sidenav class="mat-elevation-z2 menu-container" #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
      <!--div fxLayout="row" fxLayoutAlign="center center" class="amount-info"> Rs 500.00 </div-->
      <mat-nav-list>
        <a mat-list-item routerLink="/user/social-media" routerLinkActive="active">
          <mat-icon fontSet="fa" fontIcon="fa-cart-plus"></mat-icon>
          Social Media
        </a>
        <a mat-list-item>
          <mat-icon fontSet="fa" fontIcon="fa-hand-holding-usd"></mat-icon>
          Funds
        </a>
        <a mat-list-item>
          <mat-icon fontSet="fa" fontIcon="fa-bell"></mat-icon>
          Notifications
        </a>
        <a mat-list-item>
          <mat-icon fontSet="fa" fontIcon="fa-clock"></mat-icon>
          Order History
        </a>
        <a mat-list-item>
          <mat-icon fontSet="fa" fontIcon="fa-tag"></mat-icon>
          Pricings
        </a>
        <a mat-list-item>
          <mat-icon fontSet="fa" fontIcon="fa-chart-bar"></mat-icon>
          Analytics
        </a>
        <a mat-list-item>
          <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
          Settings
        </a>
        <a mat-list-item>
          <mat-icon fontSet="fa" fontIcon="fa-headset"></mat-icon>
          Support
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="footer-container" [class.bottom]="!isMobile" [class.fixed]="!isMobile">
    <span class="mat-caption">@ Copyright 2018, Likes Dot World. All Rights Reserved</span>
  </div>
</div>
